@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../public/assets/bg_desktop.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block; /* Garante que não há grid */
}

/* 📱 Estilos para Mobile (telas menores que 600px) */
@media screen and (max-width: 600px) {
  
}

/* 📟 Estilos para Tablet (entre 600px e 960px) */
@media screen and (min-width: 600px) and (max-width: 960px) {
  body{
    background-image: url('../../public/assets/bg.webp');
  }
}
